<div id="<%= dom_id bookroom %>">
  <p>
    <strong>First name:</strong>
    <%= bookroom.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= bookroom.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= bookroom.email %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= bookroom.room_type %>
  </p>

  <p>
    <strong>No of rooms:</strong>
    <%= bookroom.no_of_rooms %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= bookroom.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= bookroom.end_time %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= bookroom.payment_type %>
  </p>

  <p>
    <strong>Total payment:</strong>
    <%= bookroom.total_payment %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= bookroom.tip %>
  </p>

</div>
